[Unit]
Description=Joystick restart service
Requires=robot.service
After=robot.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=bash /sbin/joystart.sh

[Install]
WantedBy=multi-user.target
