[Unit]
Description=Joystick restart service
After=robot.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=bash /sbin/joystart.sh

[Install]
WantedBy=multi-user.target
